<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "User Name" %>
    <%= f.text_field :login, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{}, {class: "form-control"}) %>
  </div>
  <div class="actions">
     <%= link_to 'Delete', @admin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
    <%= link_to 'Cancel', admins_path, class: "btn btn-default pull-right" %>&nbsp;&nbsp;
    <%= f.submit "Save" , class: "btn btn-success pull-right" %> &nbsp;&nbsp;    
  </div>
<% end %>
