<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 center">
      <p class="page-title">Users</p>

      <table class="responsive-table" style="margin:auto;">
        <thead>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>            
            <th>Sign In Count</th>
            <th>Role</th>
            <th><%= link_to 'New User', new_admin_path,  class: "btn btn-primary pull-right" %></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.login %></td>
              <td><%= user.email %></td>
              <td style="text-align:center;"><%= user.sign_in_count %></td>
              <td><%= user.role.to_s.titleize %></td>
              <td>
                <%= link_to edit_admin_path(user) do %><i aria-hidden="false" class="glyphicon glyphicon-pencil"></i><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      

    </div>
  </div>
</div>

