<p class="page-title">User</p>

      <table class="responsive-table" style="margin:auto;">
        <thead>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Last Sign In</th>
            <th>Role cd</th>
          </tr>
        </thead>

        <tbody>

            <tr>
              <td><%= @user.id %></td>
              <td><%= @user.login %></td>
              <td><%= @user.first_name %></td>
              <td><%= @user.last_name %></td>
              <td><%= @user.last_access %></td>
              <td><%= @user.role_cd %></td>

            </tr>

        </tbody>
      </table>
