<% content_for(:javascript_includes, javascript_include_tag("pages/preference.js")) %>

<div class="row">
<div class="col-md-4 col-md-offset-4 col-sm-12 ">
    <h2>Notification Preferences for <%= @user.first_name %> <%= @user.last_name %></h2>

<%= form_for(@user, url: {action: "update_preference"},  html: { id: "frmPreference" }) do |f| %>
 
  <div class="row">
    <div class="field col-md-12">
        <p class="notify-label">Notify by Page?</p>
    <div class="switch">
      <%= f.check_box :send_page_cd, {id:"cmn-toggle-1",  class:"cmn-toggle cmn-toggle-round"}, checked_value="1", unchecked_value="0"  %>
      <label for="cmn-toggle-1"></label>
      <%= f.text_field :pager_number, placeholder:" Pager Number", :readonly => @user.send_page_cd? ? false : true  %>
    </div>      
    </div>      
  </div>    

  <div class="row">
    <div class="field col-md-12">
        <p class="notify-label">Notify by text?</p>
    <div class="switch">
      <%= f.check_box :send_text_cd, {id:"cmn-toggle-2",  class:"cmn-toggle cmn-toggle-round"}, checked_value="1", unchecked_value="0"  %>
      <label for="cmn-toggle-2"></label>
      <%= f.text_field :text_number, :placeholder=>" Text Number" %>
    </div>      
    </div>      
  </div>  

   <div class="row">
    <div class="field col-md-12">
        <p class="notify-label">Notify by email?</p>
    <div class="switch">
      <%= f.check_box :send_email_cd, {id:"cmn-toggle-3",  class:"cmn-toggle cmn-toggle-round"}, checked_value="1", unchecked_value="0"  %>
      <label for="cmn-toggle-3"></label><%= f.text_field :email, :placeholder=>" Email" %>
    </div>      
    </div>
  </div> 


  <div class="row"> 
    <div class="actions col-md-12">
      <%= f.hidden_field :id %>
      <%= f.hidden_field :created_at, value: Time.now %>      
      <%= f.submit "Save", :class => "btn btn-success right"%>
      <%= link_to 'Cancel', '/', :class => "btn btn-danger"%>
    </div>
  </div>
<% end %>

</div>
</div>