          <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 wiki-tags">
                  <p class="wiki-title"><%= wiki.title %></p>
                </div>
                <div class=" col-md-3 wiki-actions right">
                  <%= link_to new_wiki_path(parent: wiki.id) do %><i aria-hidden="false" class="fa fa-plus action-icon"></i><% end %>
                  <%= link_to wiki do %><i aria-hidden="false" class="fa fa-eye action-icon"></i><% end %>
                  <i aria-hidden="false" class="fa fa-pencil action-icon action-edit" data-id="<%= wiki.id %>"></i>
                  <%= link_to wiki, method: :delete, data: { confirm: 'Are you sure?' } do %><i aria-hidden="false" class="fa fa-trash action-icon"></i><% end %>      
                </div>
            </div>                  
          </div>
          <div class="panel-body">
            <div class="row border-bottom">
                <div class="col-md-12 wiki-tags">
                  <%= wiki.parent %>
                </div> 
            </div>
            <div class="row wiki-body">
              <%= wiki.body %>
            </div>
          </div>            
          <div class="panel-footer">  
            <div class="row wiki-attributes">
              Author: <%= wiki.user.login if !wiki.user.nil? %> (version: <%= wiki.version %> <%= "deleted" if wiki.deleted? %>) |
              Created:  <%= wiki.created_at.strftime("%Y-%m-%d %R") %> | Updated: <%= wiki.updated_at.strftime("%Y-%m-%d %R") %> 
            </div>
          </div>