<%= tinymce_assets %>
<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="panel-heading">
            <h3 class="panel-title"><%= f.label :title %><%= f.text_field :title %></h3>
          </div>
          <div class="panel-body">
            <div class="row border-bottom">
                <div class="col-md-6 wiki-tags">
                 <%= f.label :parent %><%= f.text_field :parent %>
                </div>
                <div class="col-md-6 wiki-actions right">
                  <button name="commit" type="submit" class="btn-transparent"><i aria-hidden="false" class="fa fa-check-square-o action-icon"></i></button>
                  
                  <%=link_to @wiki, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i aria-hidden="false" class="fa fa-trash" style="font-size:2rem;color:red;"></i>
                  <% end %>

                </div>  
            </div>
            <div class="row wiki-body">
              <%= f.text_area :body, class: "tinymce" %> %>
            </div>
          </div>            
          <div class="panel-footer">  
            <div class="row wiki-attributes">
              Author: <%= current_user.login %> 
            </div>
          </div>
<% end %>          
