<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <div class="panel-heading">
            <h3 class="panel-title"><%= f.label :title %><%= f.text_field :title %></h3>
          </div>
          <div class="panel-body">
            <div class="row border-bottom">
                <div class="col-md-6 wiki-tags">
                 <%= f.label :tag_name %><%= f.text_field :tag_name %>
                </div>
                <div class="col-md-6 wiki-tags">
                 <%= f.label :parent %><%= f.text_field :parent %>
                </div>
                <div class="col-md-6 wiki-actions right">
                  <%= f.submit do %><i aria-hidden="false" class="fa fa-check-square-o"></i><% end %>
                  <%= link_to wikis_path do %><i aria-hidden="false" class="fa fa-window-close-o"></i><% end %>
                </div>  
            </div>
            <div class="row wiki-body">
              <%= f.text_area :body %>
            </div>
          </div>            
          <div class="panel-footer">  
            <div class="row wiki-attributes">
              Author: <%= current_user.login %> 
            </div>
          </div>
<% end %>          