          <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 wiki-tags">
                  <p class="wiki-title"><%= @wiki.title %></p>
                  <p>[<%= @wiki.id %>] <%= @wiki.tag_name %></p>
                </div>
                <div class=" col-md-3 wiki-actions right">
                  <i aria-hidden="false" class="fa fa-plus action-icon wiki-here" data-id="<%= @wiki.id %>" data-toggle='tooltip' data-placement='bottom' title='Create a child wiki.'></i>
                  <i aria-hidden="false" class="fa fa-pencil action-icon wiki-edit" data-id="<%= @wiki.id %>" data-toggle='tooltip' data-placement='bottom' title='Edit this wiki.'></i>
                  <%= link_to @wiki, method: :delete, data: { confirm: 'Are you sure?' } do %><i aria-hidden="false" class="fa fa-trash action-icon" data-toggle='tooltip' data-placement='bottom' title='Inactivate this wiki.'></i><% end %>      
                </div>
            </div>                  
          </div>
          <div class="panel-body">
            <div class="row wiki-body">
              <%= @wiki.body %>
            </div>
          </div>            
          <div class="panel-footer">  
            <div class="row wiki-attributes">
              Author: <%= @wiki.user.login if !@wiki.user.nil? %> (version: <%= @wiki.version %> <%= "deleted" if @wiki.deleted? %>) |
              Created:  <%= @wiki.created_at.strftime("%Y-%m-%d %R") %> | Updated: <%= @wiki.updated_at.strftime("%Y-%m-%d %R") %> 
            </div>
          </div>