          <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 wiki-tags">
                  <p class="wiki-title"><%= @wiki.id %>. <%= @wiki.title %></p>
                  <p class="wiki-tags">
                    <% @wiki.wiki_tags.each do |wiki_tag| %>
                      <% if !wiki_tag.tag.nil? %>
                      <a href="javascript:void(0)" data-tag-id="<%= wiki_tag.tag_id %>" data-this-id="<%= @wiki.id %>" class="btn btn-tag"><%= wiki_tag.tag.title  %></a>
                      <% end %>
                    <% end %>
                  </p>
                </div>
                <div class=" col-md-3 wiki-actions right">
                  <i aria-hidden="false" class="fa fa-plus action-icon wiki-here" data-id="<%= @wiki.id %>" data-parent="<%= @wiki.title %>" data-toggle='tooltip' data-placement='bottom' title='Create a child wiki.'></i>
                  <i aria-hidden="false" class="fa fa-pencil action-icon wiki-edit" data-id="<%= @wiki.id %>" data-toggle='tooltip' data-placement='bottom' title='Edit this wiki.'></i>
                  <i aria-hidden="false" class="fa fa-times-circle-o action-icon wiki-remove" data-id="<%= @wiki.id %>" data-toggle='tooltip' data-placement='bottom' title='Remove this wiki from the pags.'></i>
            </div>                  
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 wiki-body">
              <%= @wiki.body.html_safe %>
              </div>
            </div>
          </div>            
          <div class="panel-footer">  
            <div class="row">
              <div class="col-md-12 wiki-attributes">
              Author: <%= @wiki.user.login if !@wiki.user.nil? %> (version: <%= @wiki.version %> <%= "deleted" if @wiki.deleted? %>) |
              Created:  <%= @wiki.created_at.strftime("%Y-%m-%d %R") %> | Updated: <%= @wiki.updated_at.strftime("%Y-%m-%d %R") %> <br/>
              </div>
            </div>
          </div>