<div class="row" style="margin-top:40px;">
<div class="col-md-4 col-md-offset-4 col-xs-12  white-scroller" >

<p id="notice"><%= notice %></p>

<h1>Listing Wiki Tags</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Wiki</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wiki_tags.each do |wiki_tag| %>
      <tr>
        <td><%= wiki_tag.id %></td>
        <td><%= wiki_tag.wiki_id %></td>
        <td><%= wiki_tag.tag_id %></td>
        <td><%= link_to 'Show', wiki_tag %></td>
        <td><%= link_to 'Edit', edit_wiki_tag_path(wiki_tag) %></td>
        <td><%= link_to 'Destroy', wiki_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiki tag', new_wiki_tag_path %>

</div>
</div>