<%# add navigation links to this file %>
    <% if user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Novel', static_title_path %></li>
        <li><%= link_to 'Summary', static_summary_path %></li>
        <li><%= link_to 'Raquesti', static_meditation_path %></li>
      </ul>
    </li>    
    <li><%= link_to "Wiki", wikis_path, :itemprop=>"url" %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reference <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Star Trek', static_startrek_path %></li>
      </ul>
    </li>    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Contact', static_contact_path %></li>
        <li><%= link_to 'FAQ', static_help_path %></li>
        <li><%= link_to 'About', static_about_path %></li>
      </ul>
    </li>
    <% if current_user.role_cd == 4 %>  
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Users', admins_path %></li>
      </ul>
    </li>
    <% end %>
    <% end %>     
 